body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;

	background-color:  #5d6d7e;
}


.slider-line {
	position: relative;
	width: 300px;
	height: 30px;
	margin-top: 50px;
	margin-bottom: 50px;

	border-radius: 2px;
	background-color:  #f5cba7;
}

.slider-line__traveler {
	position: relative;
	width: 20px;
	height: 70px;
	top: -20px;
	left: 10px;

	border-radius: 2px;
	background-color: #af7ac5;
	cursor: pointer;

	transition: left 0.08s;
}