<!DOCTYPE html>
<html>
<head>
	<title>Football Field Component</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./football-field.css">
	<script src="./football-field.js" defer></script>
</head>
<body>
	<h1>Football Field Component</h1>

	<div class="football-field" id="field1">
		<div class="football-field__ball" id="ball1">.</div>
	</div>

	<hr />

	<div class="football-field" id="field2">
		<div class="football-field__ball" id="ball2">.</div>
	</div>

</body>
</html>